@use '../variable';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &--primary {
        color: variable.$textColor;
        background-color: variable.$btnColor;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
}